.venv
.idea
consulscriptum.pack
.deps
build
mod
rome2_scripts
consul.log
src/consul.log
src/consul_scriptum_persistence
NUL
uiemendata.pack
dei_encyclopedia_fix.pack
unit_card_backgrounds_transparent.pack
uiemendata_enc_building_fix.pack
menu_sp_grand_campaign_fix.pack
unit_category_icon_off.pack
dei_bukowa_unitcards.pack
dei_loading_battle_postbattle_40.pack